<header>
  <div class="header-container">
    <div class="logo">Code Search</div>
  </div>
  <nav class="menu">
    <ul>
      <li class="nav_links"><a href="/">Home</a></li>
      <li class="nav_links"><a href="/">#</a></li>
      <li class="nav_links"><a href="/">#</a></li>
      <li class="nav_links"><a href="/">#</a></li>
    </ul>
  </nav>
</header>
