/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET */

html{
    background-color: #ffffff;
}

.container{
    min-height: 97vh;
    margin: 0 auto;
}

header{
padding:1em 0 2em 0;
	-webkit-box-shadow: 0 4px 6px -6px black;
	   -moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
}

header h1{
    font-size: 2em;
    text-transform: capitalize;
    text-align: center;
}

h2{
    font-size: 1.5em;
    text-align: center;
}

h3{
    font-size: 1.4em;
}

h4{
    font-size: 1.3em;
}

.myPixel{
    width: 5px;
    height: 5px;
}

article{
    display: flex;
    flex-direction: column;
    margin: 0 3em ;
}

.imagePrint{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* width: 100px; */
}

/* inputsSection STARTS */
#inputsSection{
    padding-top: 2em;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#inputDiv1, #inputDiv2, #inputDiv3{
    min-width: 33%;
}

#inverseCheckbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* inputsSection ENDS */

/* addingColorAside STARTS*/
#addColorSection{

}

.decisioning{
    display: flex;
    flex-direction: row;
    margin-bottom:1em;
}

#colorNumber1, #colorNumber2, #colorNumber{
    width: 72px;    
}
/* addingColorAside ENDS */

/* widthSelection STARTS */
#widthSelection{
    padding: 1em 0.5em;  
}
#widthSelection input{    
    
}
/* widthSelection ENDS */

/* colorSelection STARTS */
#colorSelection{
    display: flex;
    flex-direction: row;
}
/* colorSelection ENDS */


/* FORM STARTS */
#formAside{}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

form{
    display: flex;
    flex-direction: column;
}

form textarea{
    width: 10em;
    height: 15em;
    min-height: 140px;
    max-width: 350px;
}
/* form ENDS */


/* infoAndSave */
#infoAndSave{
    max-width:200px

}
#infoAndSave p {
    padding: 30px 0 20px 0;
    text-align: center;
}
/* infoAndSave */

/* PROGRESS */
#progressBar{
    margin: 1em auto;
}

progress[value] {
    -webkit-appearance: none;
   appearance: none;
    width: 250px;
    height: 20px;
    margin:3em;
  }

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
  }

progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: white;
  }

@-webkit-keyframes animate-stripes {
    100% { background-position: -100px 0px; }
 }
 
@keyframes animate-stripes {
    100% { background-position: -100px 0px; }
 }
 -webkit-animation: animate-stripes 5s linear infinite;
        animation: animate-stripes 5s linear infinite;
  progress:not([value]) {
    /* Styling here */
 }
/* PROGRESS */

/* ROLLBUTTON AND CLEAR */
#roll, #clear, #linkText{
    width: 72px;
    height: 72px; 
    margin-bottom: 10px;
}
/* ROLLBUTTON */

#buttonsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
    /* height: 90px; */
}

#buttonsSection button{
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 10px 10px 0;
}

#mainButtons{
    display: flex;

}

.numbers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#colorPicker {
    width: 100px;
    max-height: 20px;
}

#chooseColorNumber{
    display: flex;
    align-self: center;
    margin-bottom: 1em;
    margin:1em;
}

#chooseColorNumber2{
    display: flex;
    align-self: center;
    margin-bottom: 1em;
    margin:1em;
}

#niso{
    border-bottom: 1px solid firebrick;
    min-height: 1em;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    padding: 2px 0;
}

#niso p{
    margin-right: 10px;
    /* position: absolute; */
}

#userscolors{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#linkText{
    margin: 0 auto; 
}

canvas{
    margin-bottom: 10px;
}

#canvasH2{
    text-align: center;
    font-size: 1.5em;
}

.canvas__container { 
    height: 100%; 
    position: relative; 
    width: 100%; 
  } 
.canvas__canvas { 
    height: 100%; 
    position: relative; 
    width: 100%; 
    z-index: 1; 
} 
.canvas__mirror { 
    height: 100%; 
    left: 0; 
    position: absolute; 
    top: 0; 
    width: 100%;  
} 

#picArea{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 1000px;
    border: 1px solid red;
}


/* FOOTER */
footer{
    
}

/* LOADER */
#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite; 
} 
  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.loaderCenter { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 