html{
    background-color: gray;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70vw;
    background-color: white;
}


#imageBox{
    /* background-color: firebrick; */
    width: 300px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.myPixel{
    width: 10px;
    height: 10px;
    background-color: black;
}

.colorSet{
    border:1px black solid;
    min-width: 400px;
    width: 600px;
    display: flex;   
    justify-content: center;
    flex-wrap: wrap; 

}
.colorSettingBox{
    border:1px black solid;
    width: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
}