<%- include('./partials/boilerplate') %> <%- include('./partials/nav') %>
<main id="getNumbers">
  <div class="list-group">
    <h4 class="list-group-item-heading"><%= results.length %></h4>
  </div>


 
<div>
  <% for (let i = 0; i<notes.length; i++) { %>
    <p><%= notes[i] %> </p>
    <% } %>
</div>


<form method="POST" action="/downloadResults" id="downloadForm">
  <input type="submit" value="Download results" id="downloadForm" />
</form>  

</main>
