<%- include('./partials/boilerplate') %> <%- include('./partials/nav') %>
<main>
  <div class="list-group">
    <h4 class="list-group-item-heading"><%= output %></h4>
  </div>
  <form method="POST" action="/getNumber" id="mainForm">
    <div class="right-pane">
      <label>Source</label>
      <textarea id="source" name="source" cols="7" rows="10"></textarea>
      <label>Target</label>
      <textarea id="target" name="target" cols="7" rows="10"></textarea>
      <label>incrementLower<input type="number" id="incrementLower" name="incrementLower" /></label>
      <label>incremenetUpper<input type="number" id="incremenetUpper" name="incremenetUpper" /></label>
    </div>
    <div class="submit-name">
      <input type="submit" value="Check Forwards" />
      <input type="submit" value="Check Backwards" />
      <input type="submit" value="Check All variations" />
    </div>
  </form>
</main>
