<%- include('./partials/boilerplate') %> 
<%- include('./partials/nav') %>

<div class="list-group">
  <h4 class="list-group-item-heading"><%= output %></h4>
</div>
<form method="GET" action="/getNumber">
  <div class="right-pane">
    <input type="number" id="number" name="number" />
  </div>
  <div class="submit-name">
    <input type="submit" value="get the number" />
  </div>
</form>
