<%- include('./partials/boilerplate') %> <%- include('./partials/nav') %>
<main id="getNumbers">
 
<div>
  <% for (let i = 0; i<notes.length; i++) { %>
    <p><%= notes[i] %> </p>
    <% } %>
</div>
  
</main>
